# Xcode
*.xcodeproj/
*.xcworkspace/
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift
.build/
.swiftpm/
Packages/

# macOS
.DS_Store
*.swp
*~

# Simulator zips
WeatherDeck-sim.zip
